<%
# Copyright (C) 2025 Frank Mayer, Enes Korkmaz, Jascha Sonntag, Andreas Rothaler, Eray Akyazililar, Jan Magister
#
# This file is part of Elink.
#
# Elink is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Elink is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Elink. If not, see <http://www.gnu.org/licenses/>.
%>

<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <h2 class="heading"><%= t("actions.title") %></h2>
    <% if current_user.role == "employee" %>
       <%= link_to expert_path, 
            class: "btn relative", 
            id: "expert_edit_cancel_editing_button", 
            onclick: "return confirm('#{I18n.t("actions.expert.confirm_cancel.editing")}')" do %>
        <%= image_tag("svg/back.svg", class: "absolute left-4") %>
        <%= t("actions.back") %>
      <% end %>
      <a href="#" class="relative btn" id="expert_edit_save_button"
         onclick="document.getElementById('create_expert_form').submit(); return false;">
        <%= image_tag("svg/save.svg", class: "absolute left-4") %>
        <%= t("actions.save") %>
      </a>
    <% elsif current_user.role == "expert" %>
      <%= link_to @expert, 
            class: "btn relative", 
            id: "expert_edit_cancel_editing_button", 
            onclick: "return confirm('#{I18n.t("actions.expert.confirm_cancel.editing")}')" do %>
        <%= image_tag("svg/back.svg", class: "absolute left-4") %>
        <%= t("actions.back") %>
      <% end %>
      <a href="#" class="relative btn" id="expert_edit_save_button"
         onclick="document.getElementById('create_expert_form').submit(); return false;">
        <%= image_tag("svg/save.svg", class: "absolute left-4") %>
        <%= t("actions.save") %>
      </a>
    <% end %>
  </div>

  <div class="w-full md:w-auto flex-[3]">
    <div class="flex-[40%] w-full">
      <%= render "form", expert: @expert %>
    </div>
  </div>
</div>
